*{
    
    margin:0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    box-sizing:border-box;


}

.bg{
   display: none;
    
   
}

#frm{
  translate: 800px;
    

}
#lvl{
    display: flex;
}
#cnv{


    
    
    margin-left: 300px;
    
    
}
#myCanvas{
    scale: 0.8;
} 

.inpt{
    display: none;
    width: 21%;
    font-size: 60;
    padding: 10px 10px;
    align-content: center;
    margin: 40px 50px;
}
input[type=text], select {
    font-family: Arial;
    font-size: 30px;
    margin: 8px 160px;
    
    border: 1px solid #ccc;
    border-radius: 4px;
  }





label{
    
    width: 400px;
    
    background: #e3362c;
    color: #fff;
    padding: 10px;
    margin: 5px 160px;
    border-radius: 5px;
    cursor: pointer;
    

}


#savebtn{
    width: 21%;
    font-size: 60;
    padding: 10px 10px;
    align-content: center;
    margin: 40px 160px;
    
  
  }


